[user]
	name = xlsama
	email = im.xlsama@gmail.com
[pull]
	rebase = false
[core]
	excludesfile = /Users/xlsama/.gitignore
	editor = nvim
[init]
	defaultBranch = main
[includeIf "gitdir:/Users/xlsama/code/work/"]
  path = ~/.gitconfig_work
[url "https://github.com/"]
	insteadOf = git://github.com/
