[user]
	name = xlsama
	email = im.xlsama@gmail.com
[core]
	excludesfile = /Users/xlsama/.gitignore
	editor = vim
[init]
	defaultBranch = main
[includeIf "gitdir:/Users/xlsama/code/bytedance/"]
  path = ~/.gitconfig_work